.about-cont{
    
    
   
    height: 462px;
   
}
.teste{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    color: rgba(43, 22, 12, 0.938);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    font-size: 18px;
}

.link-api{
    text-decoration: underline;
    color: rgba(43, 22, 12, 0.938);
    font-weight: bold;
}

.creators-link{
    text-decoration: underline;
    color: rgba(43, 22, 12, 0.938);
}

@media screen and (max-width: 510px) {

    .teste{
        text-align: center;
        font-size: 13px;
        width: 400px;
        margin-top: 50px;
        color: rgba(43, 22, 12, 0.938);
    }
}