.list-img{
    width: 250px;
    height: 250px;
    margin-top: 25px;
  
}
.cusine-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.cusine-recipe{
    display: flex;
    align-items: center;
    flex-direction: column
}
.cusine-recipe h3{
    text-decoration: none;
    color: rgba(43, 22, 12, 0.938); 
    font-size: 20px;
    margin-top: -5px;
}

.cusine-h1{
    text-align: center;
    color: rgba(43, 22, 12, 0.938);
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
   
}

.cusine-title{
    display: flex;
    align-items: center;
    width: 185px;
    text-align: center;
    justify-content: center;
}

.cusine-link{
    text-decoration: none;
}
.cusine-size{
   display: flex;
   flex-direction: column;
   align-items: center;
    
}

.cusine-recipe:hover .list-img{
    opacity: 0.3;
}