.list-img{
    max-width: 100%;
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 25px;
  
}
.cusine-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
}

.cusine-recipe{
    display: flex;
    align-items: center;
    flex-direction: column
}
.cusine-recipe h3{
    text-decoration: none;
    color: rgba(43, 22, 12, 0.938); 
    font-size: 20px;
    margin-top: -5px;
}

.cusine-h1{
    text-align: center;
    color: rgba(43, 22, 12, 0.938);
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
   
}

.cusine-title{
    display: flex;
    align-items: center;
    width: 185px;
    text-align: center;
    justify-content: center;
}

.cusine-link{
    text-decoration: none;
}
.cusine-size{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.cusine-recipe:hover .list-img{
    opacity: 0.3;
    transition: 0.3s;
}
.button-favorites{
    position: relative;
    margin: 30px;
}
.go2484888251, .go4268192979{
    position: absolute;
    top: 15px;
    right: 20px;
}
.category-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favorites-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1000px) {
  
    .home-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: space-around;
    }
    .cusine-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: space-around;
    }
  }
