.details-pic-name img{
    height: 400px;
    width: 400px;
    display: flex;
    margin-bottom: 30px;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    
}

.details-pic-name p{
    color: rgba(43, 22, 12, 0.938);
    font-size: 40px;
    text-align: center;
    
    
}

.details-pic-name{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;  

}

.details{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    
}
.divider{
    width: 80%;
    align-self: center;
}

.details-ingridients-instructions{
    font-size: 18px;
    width: 600px; 
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: justify;
    
   
}
.details-ingridients{
    display: flex;
    font-size: 18px;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

.ingredients{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    
}

.title-ingredients{
    text-align: center;
    font-size: 20px;
}
.heart{
    position: relative;
}
.tentativa{
    margin: 0;
}

@media screen and (max-width: 600px) {
    .details-ingridients-instructions{
        width: 300px;
    }
    .details-pic-name img{
        height: 300px;
        width: 300px;
        display: flex;
        margin-bottom: 30px;
        max-width: 100%;
        border-radius: 20px;
        object-fit: cover;
        
    }
  }