.details-pic-name img{
    height: 550px;
    width: auto;
    margin: 40px;
}
.details-pic-name p{
    color: rgba(43, 22, 12, 0.938);
    font-size: 50px;
    margin: 40px;
}
.details-pic-name{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}
.details{
    display: flex;
}
.details-ingridients-instructions{
    font-size: 20px;
    margin: 0px;
    width: 600px; 
}
.details-ingridients{
    display: flex;
    flex-direction: row;
}
.ingredients{
    margin: 45px;
}