.footer{
    height: 50px;
    background-color: #f8f6ea;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;    
}
@media screen and (max-width: 510px) {
    .footer{
        font-size: 13px;
    }
}