.header{
    background-color: #f8f6ea;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.category-row{
    display: flex;
    align-items: center;
}
.category{
    margin:15px;
    text-decoration: none;
    color: rgba(43, 22, 12, 0.938)
}


