* {
    margin: 0;
    padding: 0;
  }
 
.header{
    background-color: #f8f6ea;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 45vh;
}
.category-row{
    display: flex;
    align-items: center;
}
.category{
    margin:15px;
    text-decoration: none;
    color: rgba(43, 22, 12, 0.938);
    padding: 8px 15px;
}
.category.active{
    background-color: rgba(43, 22, 12, 0.938);
    color: white;
    border-radius: 20px;
    text-align: center;
    
  }
  .category h4{
      margin: 0;
  }

