.cusine-img{
    max-width: 100%;
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}
.ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.ingredients p{
    text-decoration: none;
    color: rgba(43, 22, 12, 0.938); 
    font-size: 16px;
    padding-top: 15px;
}
.ingredients-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.ingredients-link{
    text-decoration: none;
}

.cusine-img:hover {
    opacity: 0.3;
    transition: 0.3s;
}